// Specific CSS for your home-page
.full-banner{
  background-size: cover;
  height: 100vh;
}

.full-banner h1{
  text-align: center;
  color: white;
  font-family: Roboto;
  margin-top: 30vh;
  font-size: 60px;
}

.full-banner h2,h3{
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 35px;
}


