<html>
<head>
</head>

<body>
  <div class="full-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzpp5aqb2/image/upload/v1547054305/Cookbok/todd-quackenbush-700-unsplash.jpg)">
    <div class="container">
      <h1>RecipMe</h1>
      <h3>My online cookbook, for you!</h3>
    </div>
  </div>
</body>
