<html>
<head>
</head>

<body>
  <div class="container" style="background-image:  linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),(<%= image_tag "banner.png" %>)">
    <h1>RecipMe</h1>
    <h3>My online cookbook, for you!</h3>
  </div>
</body>
