<html>
<head>
</head>

<body>
  <div class="full-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzpp5aqb2/image/upload/v1547054305/Cookbok/todd-quackenbush-700-unsplash.jpg)">
    <div class="container">
      <div class="banner">
        <h1>RecipMe</h1>
          <h3 href="" class="typewrite" data-period="2000" data-type='[ "Your cookbook, online!", "Bon appétit!", "Cooking rocks!"]'>
            <span class="wrap"></span>
          </h3>
      </div>
    </div>
  </div>

  <div class="container">
    <h4 class="text-center">Check out our last recipes!</h4>
    <div class="row"></div>
</body>
